<!DOCTYPE html>
<html>
<head>
  <title>The Peoples News.</title>
  <link rel="stylesheet" href="main.css">
</head>
<body>
<title>The Peoples News.Create New Article</title>
<h2> Create new Article </h2>
<ul>
    <form method="POST" action="/newsarticles/create">
 <!--  <input name="title" placeholder="Title"> -->
    <textarea name="title" placeholder="Title" style="height:100px; width:200px"></textarea><br>



<!-- <input name="text" placeholder="Text"> -->
    <textarea name="text" placeholder="Text" style="height:100px; width:200px"></textarea><br> 
    <input type="hidden" name="author" value="<%= session[:email] %>">
    <input type="submit"/>
  </form>
</ul>
<br><br>
<a href="/newsarticles"> Back to main page. </a>
</body>
</html>