<!DOCTYPE html>
<html>
<head>
  <title>The Peoples News.</title>
  <link rel="stylesheet" href="main.css">
</head>
<body><br><br><br>

<title>The Peoples News.Show Page</title>

    <p><%= @newsarticle.title %></p>
    <p><%= @newsarticle.text  %></p>
    <p><%= @newsarticle.author  %></p>
    <br><br>
    <a href="/"> Back to main page. </a>
    
</body>
</html>