<!DOCTYPE html>
<html>
<head>
  <title>The Peoples News.</title>
  <link rel="stylesheet" href="main.css">
</head>
<body><br><br><br>

<title>The Peoples News.Show Page</title>

   <p> Title: <%= newsarticle.title %></p>
    <p>Text: <%= newsarticle.text  %></p>
    <p>Author: <%= newsarticle.user.email  %></p>
    <br><br>
    <a href="/"> Back to main page. </a>
    
</body>
</html>