<!DOCTYPE html>
<html>
    <head>
        <title>About your </title>
            <link rel="stylesheet" href="main.css">
    </head>
    <body>
        <h1>About This  Webpage </h1>
        <p>This app is made to help the people write news!  </p>
        <p> Write your Articles Today </p>


        <a href="/newsarticles"> Back to main page. </a>
    </body>
</html>