<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
            <link rel="stylesheet" href="main.css">
    </head>
    <body>
        <h1>About This Webpage</h1>
        <p>This app is made to help the people write news!  </p>
        <a href="/newsarticles"> Click Here To Start Writing. </a>
    </body>
</html>